{{#if addNewQuestion}}
  <div id="new-question" class="well">
    <form method="get">
      <div class="form-group">
        <label for="author">Author</label>
        {{input class="form-control" value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="body">Question</label>
        {{textarea rows=5 class="form-control" value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="body">Notes</label>
        {{textarea rows=2 class="form-control" value=notes id="notes"}}
      </div>
      <button type="button" class="btn" {{action 'saveQuestion'}}>Post</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action 'newQuestionForm'}}>+ New Question</button>
{{/if}}
