{{#if editQuestionForm}}
  <br><br>
  <form method="get">
    <div class="form-group">
      <label for="author">Author</label>
      {{input class="form-control" value=author id="author" placeholder=question.author}}
    </div>
    <div class="form-group">
      <label for="body">Question</label>
      {{textarea rows=5 class="form-control" value=content id="content" placeholder=question.content}}
    </div>
    <div class="form-group">
      <label for="body">Notes</label>
      {{textarea rows=2 class="form-control" value=notes id="notes" placeholder=question.notes}}
    </div>
    <button type="button" class="btn" {{action 'edit' question}}>Save</button>
  </form>
{{else}}
<span {{action 'editQuestionForm' question}} id="edit" class="pull-right">Edit<img src="/assets/images/edit.png"></span>
{{/if}}
