<div class="well">
  <p>
    <span class="pull-left">{{#link-to 'index'}}&larr; Back{{/link-to}}</span>
    {{edit-question question=question edit="edit"}}
  </p>

  <p>
    <h3 id="question-content">{{question.content}}</h3>
    <p>{{question.notes}}</p>
    <h5>Asked by {{question.author}}</h5>
  </p>
</div>

{{new-answer saveAnswer="saveAnswer" question=question}}

<div class="well">
  <h4>Other Answers ({{answerCount}})</h4>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer question=question}}
  {{/each}}
</div>
