<div class="well">
  <h3>{{question.content}}</h3>
  <p>{{question.notes}}</p>
  <h5>Asked by {{question.author}}</h5>
  <p>{{#link-to 'index'}}&larr; Back{{/link-to}}</p>
</div>

{{new-answer saveAnswer="saveAnswer" question=question}}

<div class="well">
  <h4>Answers</h4>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer question=question}}
  {{/each}}
</div>
